In [1]:
import os
import glob
import pandas as pd
from tqdm import tqdm
import warnings
warnings.filterwarnings("ignore")

### Convert XLSX files to CSV files

In [2]:
files = glob.glob('lcc_data/*.xlsx')
files

['lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20160701.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20160731.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20160831.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20160930.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20161031.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20161130.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20161231.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20170131.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20170228.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20170331.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20170430.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20170531.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20170623.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20170630.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20170731.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20170831.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20170930.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20171031.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20171130.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20171231.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20180131.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20180228.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20180331.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20180430.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20180531.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20180630.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20180731.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20180831.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20180930.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20181031.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20181130.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20181231.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20190131.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20190228.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20190331.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20190430.xlsx',
 'lcc_data\\CO_CDHS_OEC_ECL_LF_BaseFullMerge_20190531.xlsx']

In [4]:
for file in tqdm(files):
    xl = pd.ExcelFile(file)
    df =  xl.parse(xl.sheet_names[1])
    date = file.split('_')[-1].split('.')[0]
    df['YEAR_MONTH'] = date
    df.to_csv(date + '.csv', index=None)

In [5]:
csv_files = glob.glob('lcc_data/*.csv')
csv_files

['lcc_data\\20160701.csv',
 'lcc_data\\20160731.csv',
 'lcc_data\\20160831.csv',
 'lcc_data\\20160930.csv',
 'lcc_data\\20161031.csv',
 'lcc_data\\20161130.csv',
 'lcc_data\\20161231.csv',
 'lcc_data\\20170131.csv',
 'lcc_data\\20170228.csv',
 'lcc_data\\20170331.csv',
 'lcc_data\\20170430.csv',
 'lcc_data\\20170531.csv',
 'lcc_data\\20170630.csv',
 'lcc_data\\20170731.csv',
 'lcc_data\\20170831.csv',
 'lcc_data\\20170930.csv',
 'lcc_data\\20171031.csv',
 'lcc_data\\20171130.csv',
 'lcc_data\\20171231.csv',
 'lcc_data\\20180131.csv',
 'lcc_data\\20180228.csv',
 'lcc_data\\20180331.csv',
 'lcc_data\\20180430.csv',
 'lcc_data\\20180531.csv',
 'lcc_data\\20180630.csv',
 'lcc_data\\20180731.csv',
 'lcc_data\\20180831.csv',
 'lcc_data\\20180930.csv',
 'lcc_data\\20181031.csv',
 'lcc_data\\20181130.csv',
 'lcc_data\\20181231.csv',
 'lcc_data\\20190131.csv',
 'lcc_data\\20190228.csv',
 'lcc_data\\20190331.csv',
 'lcc_data\\20190430.csv',
 'lcc_data\\20190531.csv']

## Combine 2017 - 2019 CSVs

In [6]:
combined_csv = pd.concat([pd.read_csv(f) for f in csv_files[7:]])
print(combined_csv.columns)
print(combined_csv.shape)

Index(['AWARDDATE', 'CCCAPCASECOUNT_D1', 'CCCAPCHILDCOUNT_D1',
       'CCCAPFAEXPDATE_D1', 'CCCAPFAEXPDATE_D2', 'CCCAPFASTATUS_D1',
       'CCCAPFASTATUS_D2', 'CCCAPTOTALAUTH_D1', 'CCCAPTOTALAUTH_D2',
       'CCCAP_AMOUNT_PAID_D1', 'CCRR', 'CITY', 'COMMUNITY', 'COUNTY', 'ECC',
       'EXPIRATIONDATE', 'LICENSE FEE DISCOUNT', 'POINT_X', 'POINT_Y',
       'PROVIDERID', 'PROVIDERNAME', 'PROVIDERSERVICETYPE', 'QRISRATINGLEVEL',
       'SCHOOLDISTRICT', 'STATE', 'STREETADDRESS', 'TOTALLICENSEDCAPACITY',
       'YEAR_MONTH', 'ZIP'],
      dtype='object')
(150316, 29)

In [7]:
#Each year has different numbers of columns. 
#2019 data has more information than 2017
#That is why we see so many zero after grouping by year_month

df = combined_csv.groupby('YEAR_MONTH').count()
df.loc[:, 'CCCAPCHILDCOUNT_D1':'ZIP']

,CCCAPCHILDCOUNT_D1,CCCAPFAEXPDATE_D1,CCCAPFAEXPDATE_D2,CCCAPFASTATUS_D1,CCCAPFASTATUS_D2,CCCAPTOTALAUTH_D1,CCCAPTOTALAUTH_D2,CCCAP_AMOUNT_PAID_D1,CCRR,CITY,...,POINT_Y,PROVIDERID,PROVIDERNAME,PROVIDERSERVICETYPE,QRISRATINGLEVEL,SCHOOLDISTRICT,STATE,STREETADDRESS,TOTALLICENSEDCAPACITY,ZIP
YEAR_MONTH,,,,,,,,,,,,,,,,,,,,,
20170131,1521,0,0,0,0,0,0,0,0,5417,...,5417,5417,5417,5417,4294,0,5417,5417,5416,5417
20170228,1502,0,0,0,0,0,0,0,0,5398,...,5398,5398,5398,5398,4277,0,5398,5398,5398,5398
20170331,1527,0,0,0,0,0,0,0,0,5382,...,5382,5382,5382,5382,4264,0,5382,5382,5382,5382
20170430,1506,0,0,0,0,0,0,0,0,5374,...,5374,5374,5374,5374,4264,0,5374,5374,5374,5374
20170531,5367,5367,0,5367,0,5367,0,0,0,5367,...,5367,5367,5367,5367,5367,0,5367,5367,5367,5367
20170630,1531,1973,0,1973,0,1973,0,0,0,5339,...,5339,5339,5339,5339,4216,0,5339,5339,5339,5339
20170731,1554,1989,0,1989,0,1989,0,0,0,5301,...,5301,5301,5301,5301,4163,0,5301,5301,5301,5301
20170831,5311,5311,5311,5311,5311,5311,5311,0,0,5311,...,5311,5311,5311,5311,5311,0,5311,5311,5311,5311
20170930,5314,5314,5314,5314,5314,5314,5314,0,0,5314,...,5314,5314,5314,5314,5314,0,5314,5314,5314,5314
20171031,5284,5284,5284,5284,5284,5284,5284,0,0,5284,...,5284,5284,5284,5284,5284,0,5284,5284,5284,5284
20171130,1454,2081,2127,2082,2128,2082,2128,0,0,5269,...,5244,5269,5269,5269,4146,0,5269,5269,5267,5269
20171231,5255,5255,5255,5255,5255,5255,5255,0,0,5255,...,5255,5255,5255,5255,5255,0,5255,5255,5255,5255
20180131,5206,5206,5206,5206,5206,5206,5206,0,0,5206,...,5206,5206,5206,5206,5206,0,5206,5206,5206,5206
20180228,5191,5191,5191,5191,5191,5191,5191,5191,0,5191,...,5191,5191,5191,5191,5191,0,5191,5191,5191,5191
20180331,5145,5145,5145,5145,5145,5145,5145,5145,0,5145,...,5145,5145,5145,5145,5145,0,5145,5145,5145,5145
20180430,5112,5112,5112,5112,5112,5112,5112,5112,5112,5112,...,5112,5112,5112,5112,5112,5112,5112,5112,5112,5112
20180531,5084,5084,5084,5084,5084,5084,5084,5084,5084,5084,...,5084,5084,5084,5084,5084,5084,5084,5084,5084,5084
20180630,5085,5085,5085,5085,5085,5085,5085,5085,5085,5085,...,5085,5085,5085,5085,5085,5085,5085,5085,5085,5085
20180731,1435,2071,2085,2073,2087,2073,2087,1435,5067,5067,...,5067,5067,5067,5067,3938,5067,5067,5067,4970,5067
20180831,1411,2035,2067,2037,2069,2037,2069,1411,5068,5068,...,5068,5068,5068,5068,3927,5068,5068,5068,4930,5068
20180930,1190,2035,2072,2036,2084,2036,2084,1190,5065,5065,...,5065,5065,5065,5065,3920,5065,5065,5065,5065,5065
20181031,1555,2057,2018,2058,2062,2058,2062,1555,5056,5056,...,5056,5056,5056,5056,3900,5056,5056,5056,5056,5056
20181130,1547,2060,2064,2074,2080,2074,2080,1547,5056,5056,...,5056,5056,5056,5056,3900,5056,5056,5056,5056,5056
20181231,1537,2045,2129,2091,2129,2091,2133,1537,5052,5052,...,5052,5052,5052,5052,3897,5052,5052,5052,5049,5052
20190131,1517,2023,2108,2067,2108,2067,2111,1517,5038,5038,...,5038,5038,5038,5038,3878,5038,5038,5038,5038,5038
20190228,1544,2109,2039,2112,2065,2112,2065,1544,5042,5042,...,5042,5042,5042,5041,3875,5042,5042,5042,5042,5042
20190331,1562,1953,2070,2034,2087,2034,2087,1562,5034,5034,...,5034,5034,5034,5034,3873,5034,5034,5034,5034,5034
20190430,1551,1939,2062,2018,2081,2018,2081,1551,5012,5012,...,5012,5012,5012,5011,3859,5012,5012,5012,5012,5012
20190531,1573,1952,1581,2033,2067,2033,2067,1573,4992,4992,...,4992,4992,4992,4992,3858,4992,4992,4992,4992,4992

In [8]:
# turned all the capacity value into numeric type errors='coerce' replace non numeric to NaN
combined_csv['TOTALLICENSEDCAPACITY'] = pd.to_numeric(combined_csv['TOTALLICENSEDCAPACITY'], errors='coerce')

In [9]:
nan_capa = combined_csv[combined_csv['TOTALLICENSEDCAPACITY'].isnull()]
nan_capa['YEAR_MONTH'].value_counts()

20180831    138
20180630    100
20180731     97
20180531     63
20180430     46
20180331     32
20180228     18
20180131      9
20181231      3
20171130      2
20170131      1
Name: YEAR_MONTH, dtype: int64

## Handling NAN values in totalcapacity for 2017 as it will affect our anaysis

In [10]:
df_to_fill = combined_csv.loc[combined_csv['YEAR_MONTH'].isin(['20171130','20170131'])]
df_to_fill = df_to_fill[df_to_fill['TOTALLICENSEDCAPACITY'].isnull()]
null_id_2017 = df_to_fill['PROVIDERID'].to_list()

lookup_df = combined_csv.loc[combined_csv['PROVIDERID'].isin(null_id_2017)].sort_values(by='YEAR_MONTH')
lookup_df1 = lookup_df.groupby('PROVIDERID')['TOTALLICENSEDCAPACITY'].apply(list).to_frame().reset_index()
print(lookup_df1)

# based on lookup_df1, provider 47810 need to filled with 1600; 
# provider 1653749 need to be filled with 1100
df_to_fill

   PROVIDERID                              TOTALLICENSEDCAPACITY
0       47810  [750.0, 750.0, 750.0, 750.0, 750.0, 750.0, 160...
1     1653749  [nan, 1100.0, 1100.0, 1100.0, 1100.0, 1100.0, ...

,AWARDDATE,CCCAPCASECOUNT_D1,CCCAPCHILDCOUNT_D1,CCCAPFAEXPDATE_D1,CCCAPFAEXPDATE_D2,CCCAPFASTATUS_D1,CCCAPFASTATUS_D2,CCCAPTOTALAUTH_D1,CCCAPTOTALAUTH_D2,CCCAP_AMOUNT_PAID_D1,...,PROVIDERID,PROVIDERNAME,PROVIDERSERVICETYPE,QRISRATINGLEVEL,SCHOOLDISTRICT,STATE,STREETADDRESS,TOTALLICENSEDCAPACITY,YEAR_MONTH,ZIP
4764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1653749,CHRIST IN YOUTH,Resident Camp,NaN,NaN,CO,1000 Rim DR,NaN,20170131,81303
1015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,47810,PEACEFUL VALLEY SCOUT RANCH,Resident Camp,NaN,NaN,CO,22799 N Elbert RD 97,NaN,20171130,80106
4452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1653749,CHRIST IN YOUTH,Resident Camp,NaN,NaN,CO,1000 Rim DR,NaN,20171130,81303

In [11]:
def update_total_capa(row):
    if row.YEAR_MONTH == 20170131 and row.PROVIDERID == 1653749:
        return 1100
    if row.YEAR_MONTH == 20171130 and row.PROVIDERID == 1653749:
        return 1100
    if row.YEAR_MONTH == 20171130 and row.PROVIDERID == 47810:
        return 1600
    else:
        return row.TOTALLICENSEDCAPACITY
combined_csv['TOTALLICENSEDCAPACITY'] = combined_csv.apply(update_total_capa,axis=1)

In [12]:
combined_csv[combined_csv['TOTALLICENSEDCAPACITY'].isnull()]['YEAR_MONTH'].value_counts()

20180831    138
20180630    100
20180731     97
20180531     63
20180430     46
20180331     32
20180228     18
20180131      9
20181231      3
Name: YEAR_MONTH, dtype: int64

## Clean up service type and catergorize them based on the child they served

In [13]:
facility_list = list(combined_csv['PROVIDERSERVICETYPE'].value_counts().index)
facility_list

['Child Care Center',
 'School-Age Child Care Center',
 'Family Child Care Home',
 'Day care center',
 'Day care home',
 'Preschool Program',
 'School age child care',
 'Experienced Family Child Care Home',
 'Preschool',
 'Large Family Child Care Home',
 'Three under Two Family Child Care Home',
 'Experienced Child Care Provider',
 'Resident Camp',
 'Large day care home',
 'Day Care Home 3',
 'Infant/Toddler Home',
 'Neighborhood Youth Organization',
 'Infant /toddler home',
 'Neighborhood Youth Organizations',
 'DCC',
 'PRS',
 'Three Under Two Family Child Care Home',
 'Large Day Care Home',
 'School Age Child Care Center',
 'SACC',
 'Family Care Care Home',
 'Infant Toddler Home',
 'child care center',
 'DCH',
 'LDCH']

In [14]:
type_dict = {'Child Care Center': 'Child Care Center',
 'School-Age Child Care Center': 'School-Age Care',
 'Family Child Care Home': 'Family Child Care',
 'Day care center': 'Day care',
 'Day care home': 'Day care',
 'Preschool Program': 'Preschool Program',
 'School age child care': 'School-Age Care',
 'Experienced Family Child Care Home': 'Family Child Care',
 'Preschool': 'Preschool Program',
 'Large Family Child Care Home': 'Family Child Care',
 'Three under Two Family Child Care Home': 'Infant/Toddler Home',
 'Experienced Child Care Provider': 'Child Care Center',
 'Resident Camp': 'Resident Camp',
 'Large day care home': 'Day care',
 'Day Care Home 3': 'Day care',
 'Infant/Toddler Home': 'Infant/Toddler Home',
 'Neighborhood Youth Organization': 'Neighborhood Youth Organization',
 'Infant /toddler home': 'Infant/Toddler Home',
 'Neighborhood Youth Organizations': 'Neighborhood Youth Organization',
 'DCC': 'Day care',
 'Three Under Two Family Child Care Home': 'Infant/Toddler Home',
 'PRS': 'unknown',
 'Large Day Care Home': 'Day care',
 'School Age Child Care Center': 'School-Age Care',
 'Infant Toddler Home': 'Infant/Toddler Home',
 'Family Care Care Home': 'Family Child Care',
 'SACC': 'School-Age Care',
 'child care center': 'Child Care Center',
 'DCH': 'Day care',
 'LDCH': 'Day care'}

pd.DataFrame.from_dict(type_dict,orient='index')

                                                                      0
Child Care Center                                     Child Care Center
School-Age Child Care Center                            School-Age Care
Family Child Care Home                                Family Child Care
Day care center                                                Day care
Day care home                                                  Day care
Preschool Program                                     Preschool Program
School age child care                                   School-Age Care
Experienced Family Child Care Home                    Family Child Care
Preschool                                             Preschool Program
Large Family Child Care Home                          Family Child Care
Three under Two Family Child Care Home              Infant/Toddler Home
Experienced Child Care Provider                       Child Care Center
Resident Camp                                             Resident Camp
Large day care home                                            Day care
Day Care Home 3                                                Day care
Infant/Toddler Home                                 Infant/Toddler Home
Neighborhood Youth Organization         Neighborhood Youth Organization
Infant /toddler home                                Infant/Toddler Home
Neighborhood Youth Organizations        Neighborhood Youth Organization
DCC                                                            Day care
Three Under Two Family Child Care Home              Infant/Toddler Home
PRS                                                             unknown
Large Day Care Home                                            Day care
School Age Child Care Center                            School-Age Care
Infant Toddler Home                                 Infant/Toddler Home
Family Care Care Home                                 Family Child Care
SACC                                                    School-Age Care
child care center                                     Child Care Center
DCH                                                            Day care
LDCH                                                           Day care

In [15]:
combined_csv['CLEANSERVICETYPE'] = combined_csv['PROVIDERSERVICETYPE'].map(lambda x:type_dict.get(x))
combined_csv['CLEANSERVICETYPE'].value_counts()

Day care                           32293
Child Care Center                  31764
Family Child Care                  31606
School-Age Care                    28824
Preschool Program                  16705
Infant/Toddler Home                 5013
Resident Camp                       3563
Neighborhood Youth Organization      539
unknown                                7
Name: CLEANSERVICETYPE, dtype: int64

In [17]:
type_by_age_dict = {'School-Age Care':'School-Age Facility',
 'unknown':'unknown',
 'Day care':'FCC/DC/CCC',
 'Child Care Center':'FCC/DC/CCC',
 'Preschool Program':'Preschool Facility',
 'Resident Camp':'School-Age Facility',
 'Infant/Toddler Home':'Infant/Toddler Facility',
 'Family Child Care':'FCC/DC/CCC',
 'Neighborhood Youth Organization':'School-Age Facility'}

pd.DataFrame.from_dict(type_by_age_dict,orient='index')

                                                       0
School-Age Care                      School-Age Facility
unknown                                          unknown
Day care                                      FCC/DC/CCC
Child Care Center                             FCC/DC/CCC
Preschool Program                     Preschool Facility
Resident Camp                        School-Age Facility
Infant/Toddler Home              Infant/Toddler Facility
Family Child Care                             FCC/DC/CCC
Neighborhood Youth Organization      School-Age Facility

In [18]:
combined_csv['SERVICETYPEBYAGE'] = combined_csv['CLEANSERVICETYPE'].map(lambda x:type_by_age_dict.get(x))
combined_csv['SERVICETYPEBYAGE'].value_counts()

FCC/DC/CCC                 95663
School-Age Facility        32926
Preschool Facility         16705
Infant/Toddler Facility     5013
unknown                        7
Name: SERVICETYPEBYAGE, dtype: int64

##  Read County Level Population Data 
data from State Demographic Office

In [19]:
county_population = pd.read_csv('pop_data/SDC_under 5-year-old population.csv')

def create_age_group(row):
    if row <= 2:
        return "0-2"
    else:
        return "3-4"
county_population['AGE_GROUP']=county_population['AGE'].map(create_age_group)

print(county_population.shape)
county_population.head()

(4160, 9)

   CFIPS  YEAR  AGE COUNTY  MALE  FEMALE  TOTAL      TYPE AGE_GROUP
0      1  2013    0  Adams  3700    3552   7252  Estimate       0-2
1      1  2013    1  Adams  3576    3424   7000  Estimate       0-2
2      1  2013    2  Adams  3753    3590   7343  Estimate       0-2
3      1  2013    3  Adams  3857    3489   7346  Estimate       3-4
4      1  2013    4  Adams  3837    3591   7427  Estimate       3-4

## Compute 2017 population for zip codes

In [20]:
# county level population data 
pop_table = county_population.groupby(['YEAR','COUNTY','AGE_GROUP']).agg({'TOTAL':'sum'}).reset_index()
print(pop_table.shape)
pop_table.head()

(1664, 4)

   YEAR    COUNTY AGE_GROUP  TOTAL
0  2013     Adams       0-2  21595
1  2013     Adams       3-4  14773
2  2013   Alamosa       0-2    670
3  2013   Alamosa       3-4    499
4  2013  Arapahoe       0-2  23881

In [22]:
pop_table1 = pd.pivot_table(pop_table, values='TOTAL', index=['YEAR', 'COUNTY'], columns=['AGE_GROUP']).reset_index()
pop_table1.head(10)

AGE_GROUP  YEAR      COUNTY    0-2    3-4
0          2013       Adams  21595  14773
1          2013     Alamosa    670    499
2          2013    Arapahoe  23881  16388
3          2013   Archuleta    364    229
4          2013        Baca    141     82
5          2013        Bent    131    103
6          2013     Boulder   9048   6431
7          2013  Broomfield   2097   1479
8          2013     Chaffee    432    329
9          2013    Cheyenne     88     49

In [23]:
#the zip code level population is 5 years estimates 
#so we need to get the 5 year eastimates from the county level data for 2017
temp = pop_table1[pop_table1['YEAR'] < 2018]

temp_agg = temp.groupby('COUNTY').agg({'0-2':'mean','3-4':'mean'}).reset_index()
temp_agg['pct_zero_to_two'] = temp_agg['0-2']/(temp_agg['0-2']+temp_agg['3-4'])
print(temp_agg.shape)
temp_agg.head(10)

(64, 4)

       COUNTY      0-2      3-4  pct_zero_to_two
0       Adams  21638.2  14494.8         0.598849
1     Alamosa    661.8    468.0         0.585767
2    Arapahoe  24322.8  16334.0         0.598247
3   Archuleta    357.4    244.0         0.594280
4        Baca    122.4     88.0         0.581749
5        Bent    123.2     94.8         0.565138
6     Boulder   8824.0   6252.8         0.585270
7  Broomfield   2170.6   1505.2         0.590511
8     Chaffee    434.8    321.4         0.574980
9    Cheyenne     83.8     54.4         0.606368

In [24]:
# zip code level population data - from US Census Bureau 
zip_pop = pd.read_csv('pop_data/Zip_level_population.csv')
zip_pop.head()

df_code =pd.read_csv('CO_ZIP.csv')
mydict = dict(zip(df_code['ZIP'], df_code['County']))

zip_pop['County'] = zip_pop['GEO.id2'].map(lambda x: mydict.get(x))
zip_pop.head(10)

   GEO.id2  Under_5_years_Estimates     County
0    80002                     1096  Jefferson
1    80003                     2587  Jefferson
2    80004                     2106  Jefferson
3    80005                     1616  Jefferson
4    80007                      799  Jefferson
5    80010                     3798   Arapahoe
6    80011                     4225   Arapahoe
7    80012                     3744   Arapahoe
8    80013                     4740   Arapahoe
9    80014                     1733   Arapahoe

In [25]:
pct_dict = dict(zip(temp_agg['COUNTY'],temp_agg['pct_zero_to_two']))
zip_pop['pct_zero_to_two'] = zip_pop['County'].map(lambda x:pct_dict.get(x))
zip_pop.head(10)

   GEO.id2  Under_5_years_Estimates     County  pct_zero_to_two
0    80002                     1096  Jefferson         0.594818
1    80003                     2587  Jefferson         0.594818
2    80004                     2106  Jefferson         0.594818
3    80005                     1616  Jefferson         0.594818
4    80007                      799  Jefferson         0.594818
5    80010                     3798   Arapahoe         0.598247
6    80011                     4225   Arapahoe         0.598247
7    80012                     3744   Arapahoe         0.598247
8    80013                     4740   Arapahoe         0.598247
9    80014                     1733   Arapahoe         0.598247

In [26]:
zip_pop_copy = zip_pop.copy()
zip_pop_copy.head()

   GEO.id2  Under_5_years_Estimates     County  pct_zero_to_two
0    80002                     1096  Jefferson         0.594818
1    80003                     2587  Jefferson         0.594818
2    80004                     2106  Jefferson         0.594818
3    80005                     1616  Jefferson         0.594818
4    80007                      799  Jefferson         0.594818

In [27]:
#calculate population for 0-2 year old
def get_estimates_1(row):
    return int(round(row['Under_5_years_Estimates'] * row['pct_zero_to_two'],0))

zip_pop[2017] = zip_pop.apply(get_estimates_1,axis=1)
zip_pop['Age_Group'] = '0-2'
zip_pop.head(10)

,GEO.id2,Under_5_years_Estimates,County,pct_zero_to_two,2017,Age_Group
0,80002,1096,Jefferson,0.594818,652,0-2
1,80003,2587,Jefferson,0.594818,1539,0-2
2,80004,2106,Jefferson,0.594818,1253,0-2
3,80005,1616,Jefferson,0.594818,961,0-2
4,80007,799,Jefferson,0.594818,475,0-2
5,80010,3798,Arapahoe,0.598247,2272,0-2
6,80011,4225,Arapahoe,0.598247,2528,0-2
7,80012,3744,Arapahoe,0.598247,2240,0-2
8,80013,4740,Arapahoe,0.598247,2836,0-2
9,80014,1733,Arapahoe,0.598247,1037,0-2

In [28]:
#calculate population for 3-4 year old
def get_estimates_2(row):
    return int(round(row['Under_5_years_Estimates'] * (1-row['pct_zero_to_two']),0))

zip_pop_copy[2017] = zip_pop_copy.apply(get_estimates_2,axis=1)
zip_pop_copy['Age_Group'] = '3-4'
zip_pop_copy.head(10)

,GEO.id2,Under_5_years_Estimates,County,pct_zero_to_two,2017,Age_Group
0,80002,1096,Jefferson,0.594818,444,3-4
1,80003,2587,Jefferson,0.594818,1048,3-4
2,80004,2106,Jefferson,0.594818,853,3-4
3,80005,1616,Jefferson,0.594818,655,3-4
4,80007,799,Jefferson,0.594818,324,3-4
5,80010,3798,Arapahoe,0.598247,1526,3-4
6,80011,4225,Arapahoe,0.598247,1697,3-4
7,80012,3744,Arapahoe,0.598247,1504,3-4
8,80013,4740,Arapahoe,0.598247,1904,3-4
9,80014,1733,Arapahoe,0.598247,696,3-4

In [29]:
#combine population for two ages
zip_pops = pd.concat([zip_pop, zip_pop_copy]).reset_index(drop=True)
zip_pops.head()

,GEO.id2,Under_5_years_Estimates,County,pct_zero_to_two,2017,Age_Group
0,80002,1096,Jefferson,0.594818,652,0-2
1,80003,2587,Jefferson,0.594818,1539,0-2
2,80004,2106,Jefferson,0.594818,1253,0-2
3,80005,1616,Jefferson,0.594818,961,0-2
4,80007,799,Jefferson,0.594818,475,0-2

## compute forecast population for  zip codes for 2018 - 2025

In [30]:
#get a list of growth pct (at the county level) from 2018 to 2025 (comparing to 2017 pop)

counties = pop_table1['COUNTY'].unique()

dict_2 = {}
dict_3and4 = {}

for c in counties:
    growth1 = []
    growth2 = []
    
    temp_df = pop_table1[pop_table1['COUNTY'] == c]
    age1 = temp_df['0-2'].to_list()
    age2 = temp_df['3-4'].to_list()
    
    avg1_2017 = sum(age1[:5]) / len(age1[:5]) # get the 2013-2017 avg population for age 0-2
    avg2_2017 = sum(age2[:5]) / len(age2[:5]) # get the 2013-2017 avg population for age 3-4
    
    for x in age1[5:]:
        growth1.append(x/avg1_2017)
    dict_2[c] = growth1
    
    for x in age2[5:]:
        growth2.append(x/avg2_2017)
    dict_3and4[c] = growth2

In [31]:
def cal_population(row):
    if row['Age_Group'] == '0-2':
        return [int(round(row[2017]*x,0)) for x in dict_2.get(row.County)]
    if row['Age_Group'] == '3-4':
        return [int(round(row[2017]*x,0)) for x in dict_3and4.get(row.County)]

zip_pops['2018-2025'] = zip_pops.apply(cal_population,axis=1)
zip_pops.head()

,GEO.id2,Under_5_years_Estimates,County,pct_zero_to_two,2017,Age_Group,2018-2025
0,80002,1096,Jefferson,0.594818,652,0-2,"[675, 682, 684, 681, 686, 693, 698, 701]"
1,80003,2587,Jefferson,0.594818,1539,0-2,"[1593, 1610, 1614, 1608, 1618, 1636, 1648, 1654]"
2,80004,2106,Jefferson,0.594818,1253,0-2,"[1297, 1311, 1314, 1309, 1317, 1332, 1342, 1347]"
3,80005,1616,Jefferson,0.594818,961,0-2,"[995, 1005, 1008, 1004, 1010, 1022, 1029, 1033]"
4,80007,799,Jefferson,0.594818,475,0-2,"[492, 497, 498, 496, 499, 505, 509, 511]"

In [32]:
# convert the lists of pct growth to a df then concat the three dfs
headers = [2018,2019,2020,2021,2022,2023,2024,2025]
df1 = pd.DataFrame(zip_pops['2018-2025'].to_list(), columns=headers)
print(df1.shape)
df1.head()

(1050, 8)

   2018  2019  2020  2021  2022  2023  2024  2025
0   675   682   684   681   686   693   698   701
1  1593  1610  1614  1608  1618  1636  1648  1654
2  1297  1311  1314  1309  1317  1332  1342  1347
3   995  1005  1008  1004  1010  1022  1029  1033
4   492   497   498   496   499   505   509   511

In [33]:
fcst_pop_zip = pd.concat([zip_pops, df1], axis=1, join_axes=[df1.index])
fcst_pop_zip.sample(n=20)

,GEO.id2,Under_5_years_Estimates,County,pct_zero_to_two,2017,Age_Group,2018-2025,2018,2019,2020,2021,2022,2023,2024,2025
565,80116,141,Douglas,0.586092,58,3-4,"[56, 55, 56, 57, 57, 58, 59, 61]",56,55,56,57,57,58,59,61
44,80121,948,Arapahoe,0.598247,567,0-2,"[559, 548, 542, 546, 555, 568, 579, 589]",559,548,542,546,555,568,579,589
930,81149,26,Saguache,0.591549,11,3-4,"[11, 13, 12, 12, 13, 12, 12, 12]",11,13,12,12,13,12,12,12
577,80129,1439,Douglas,0.586092,596,3-4,"[576, 569, 578, 582, 587, 592, 607, 630]",576,569,578,582,587,592,607,630
308,80913,35,El Paso,0.604589,21,0-2,"[21, 21, 21, 21, 22, 23, 23, 24]",21,21,21,21,22,23,23,24
503,81632,536,Eagle,0.593585,318,0-2,"[302, 284, 277, 280, 286, 295, 304, 314]",302,284,277,280,286,295,304,314
284,80829,199,El Paso,0.604589,120,0-2,"[121, 120, 120, 123, 126, 130, 133, 136]",121,120,120,123,126,130,133,136
244,80740,3,Washington,0.590109,2,0-2,"[2, 2, 2, 2, 2, 2, 2, 2]",2,2,2,2,2,2,2,2
921,81137,391,La Plata,0.598366,157,3-4,"[158, 160, 150, 145, 149, 149, 152, 157]",158,160,150,145,149,149,152,157
357,81050,551,Otero,0.582493,321,0-2,"[335, 325, 315, 302, 294, 288, 279, 270]",335,325,315,302,294,288,279,270
668,80456,8,Park,0.566891,3,3-4,"[3, 3, 3, 4, 4, 4, 4, 4]",3,3,3,4,4,4,4,4
540,80020,3057,Broomfield,0.590511,1252,3-4,"[1301, 1325, 1321, 1272, 1292, 1333, 1393, 1471]",1301,1325,1321,1272,1292,1333,1393,1471
741,80640,1161,Adams,0.598849,466,3-4,"[464, 468, 463, 466, 469, 472, 482, 499]",464,468,463,466,469,472,482,499
117,80423,0,Eagle,0.593585,0,0-2,"[0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0
388,81126,0,Costilla,0.580606,0,0-2,"[0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0
746,80648,103,Weld,0.601865,41,3-4,"[45, 47, 48, 48, 48, 49, 50, 52]",45,47,48,48,48,49,50,52
182,80524,2268,Larimer,0.590073,1338,0-2,"[1330, 1332, 1352, 1377, 1416, 1461, 1500, 1531]",1330,1332,1352,1377,1416,1461,1500,1531
221,80648,103,Weld,0.601865,62,0-2,"[68, 68, 68, 69, 71, 74, 77, 79]",68,68,68,69,71,74,77,79
955,81240,236,Fremont,0.596375,95,3-4,"[102, 102, 100, 98, 97, 97, 98, 100]",102,102,100,98,97,97,98,100
212,80623,91,Weld,0.601865,55,0-2,"[60, 60, 60, 61, 63, 66, 68, 70]",60,60,60,61,63,66,68,70

##  Data prepared for  heat map - 2019 raitos between children pop and facility capa

important note - we are mapping every zip codes where there are licensed facilities; instead of mapping every zip codes in colorado

In [34]:
group1 = fcst_pop_zip[fcst_pop_zip['Age_Group'] =='0-2']
dict1_2019 = dict(zip(group1['GEO.id2'],group1[2019]))
print(len(dict1_2019))

group2 = fcst_pop_zip[fcst_pop_zip['Age_Group'] =='3-4']
dict2_2019 = dict(zip(group2['GEO.id2'],group2[2019]))
print(len(dict2_2019))

525
525

In [35]:
data_201905 = combined_csv[combined_csv['YEAR_MONTH'] == 20190531]
print(data_201905.shape)
data_201905.head(5)

(4992, 31)

,AWARDDATE,CCCAPCASECOUNT_D1,CCCAPCHILDCOUNT_D1,CCCAPFAEXPDATE_D1,CCCAPFAEXPDATE_D2,CCCAPFASTATUS_D1,CCCAPFASTATUS_D2,CCCAPTOTALAUTH_D1,CCCAPTOTALAUTH_D2,CCCAP_AMOUNT_PAID_D1,...,PROVIDERSERVICETYPE,QRISRATINGLEVEL,SCHOOLDISTRICT,STATE,STREETADDRESS,TOTALLICENSEDCAPACITY,YEAR_MONTH,ZIP,CLEANSERVICETYPE,SERVICETYPEBYAGE
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Experienced Family Child Care Home,Level 1,Northglenn-Thornton School District 12,CO,6635 E Monaco DR,9.0,20190531,80602,Family Child Care,FCC/DC/CCC
1,2017-09-07,3,3,2019-06-30,2019-06-14,1,1,3,3,239.2,...,Family Child Care Home,Level 2,Northglenn-Thornton School District 12,CO,4388 118 Ave.,6.0,20190531,80233,Family Child Care,FCC/DC/CCC
2,NaN,3,5,2019-06-30,2020-05-31,1,1,5,5,974.61,...,School-Age Child Care Center,NaN,Douglas County School District RE-1,CO,17302 Clarke Farms DR,100.0,20190531,80134,School-Age Care,School-Age Facility
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Preschool Program,Level 1,Colorado Springs School District 11,CO,1023 N 31st ST,16.0,20190531,80904,Preschool Program,Preschool Facility
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Infant/Toddler Home,Level 1,Jefferson County School District R-1,CO,5989 W Fair DR,4.0,20190531,80123,Infant/Toddler Home,Infant/Toddler Facility

In [36]:
data_201905['SERVICETYPEBYAGE'].value_counts()

FCC/DC/CCC                 3040
School-Age Facility        1163
Preschool Facility          558
Infant/Toddler Facility     231
Name: SERVICETYPEBYAGE, dtype: int64

In [37]:
# this is the table to calculate 0-2 year old pop/cap ratio
temp1 = data_201905.groupby(['ZIP','SERVICETYPEBYAGE'])\
                    .agg({'TOTALLICENSEDCAPACITY':'sum','PROVIDERID':'count'})\
                    .reset_index()
    
table_2 = temp1[(temp1['SERVICETYPEBYAGE'] == 'FCC/DC/CCC') 
                | (temp1['SERVICETYPEBYAGE'] == 'Infant/Toddler Facility')]
table_2.head(10)

      ZIP         SERVICETYPEBYAGE  TOTALLICENSEDCAPACITY  PROVIDERID
0   80002               FCC/DC/CCC                 1162.0          10
3   80003               FCC/DC/CCC                  382.0          15
4   80003  Infant/Toddler Facility                   24.0           4
7   80004               FCC/DC/CCC                 1056.0          22
8   80004  Infant/Toddler Facility                   18.0           3
11  80005               FCC/DC/CCC                  370.0          16
12  80005  Infant/Toddler Facility                   12.0           2
15  80007               FCC/DC/CCC                  313.0           4
18  80010               FCC/DC/CCC                  909.0          17
21  80011               FCC/DC/CCC                  818.0          19

In [38]:
ratio_result2 = table_2.groupby('ZIP')\
                .agg({'TOTALLICENSEDCAPACITY':'sum','PROVIDERID':'sum'})\
                .reset_index()
ratio_result2['population'] = ratio_result2['ZIP'].map(lambda x: dict1_2019.get(x))
ratio_result2['ratio'] = round(ratio_result2['population'] /ratio_result2['TOTALLICENSEDCAPACITY'],1)
ratio_result2['Age_Group'] = '0-2'
ratio_result2.rename(columns={"TOTALLICENSEDCAPACITY": "capacity","PROVIDERID":"Provider_Count"},inplace=True)
ratio_result2.head(10)

     ZIP  capacity  Provider_Count  population  ratio Age_Group
0  80002    1162.0              10       682.0    0.6       0-2
1  80003     406.0              19      1610.0    4.0       0-2
2  80004    1074.0              25      1311.0    1.2       0-2
3  80005     382.0              18      1005.0    2.6       0-2
4  80007     313.0               4       497.0    1.6       0-2
5  80010     909.0              17      2195.0    2.4       0-2
6  80011     824.0              20      2442.0    3.0       0-2
7  80012    1031.0              22      2164.0    2.1       0-2
8  80013     947.0              56      2740.0    2.9       0-2
9  80014    1028.0              14      1002.0    1.0       0-2

In [168]:
def create_bins(row):
    if row.ratio>20:
        return "Greater than 20"
    elif row.ratio>10:
        return "10-20"
    elif row.ratio>3:
        return "3-10"
    else:
        return "<=3"
    
ratio_result2['Bin'] = ratio_result2.apply(create_bins,axis=1)

In [173]:
ratio_result2.groupby('Bin').agg({'population':'sum','ZIP':'count'}).reset_index()

               Bin  population  ZIP
0            10-20      3152.0    8
1             3-10     30265.0   54
2              <=3    158608.0  275
3  Greater than 20      2087.0    6

In [40]:
# this is the table to calculate 3-4 year old pop/cap ratio
table_3and4 = temp1[(temp1['SERVICETYPEBYAGE'] == 'FCC/DC/CCC') 
                | (temp1['SERVICETYPEBYAGE'] == 'Preschool Facility')]
table_3and4.head(10)

      ZIP    SERVICETYPEBYAGE  TOTALLICENSEDCAPACITY  PROVIDERID
0   80002          FCC/DC/CCC                 1162.0          10
1   80002  Preschool Facility                   83.0           3
3   80003          FCC/DC/CCC                  382.0          15
5   80003  Preschool Facility                  143.0           3
7   80004          FCC/DC/CCC                 1056.0          22
9   80004  Preschool Facility                  180.0           5
11  80005          FCC/DC/CCC                  370.0          16
13  80005  Preschool Facility                   80.0           2
15  80007          FCC/DC/CCC                  313.0           4
16  80007  Preschool Facility                   76.0           1

In [41]:
ratio_result3and4 = table_3and4.groupby('ZIP')\
                .agg({'TOTALLICENSEDCAPACITY':'sum','PROVIDERID':'sum'})\
                .reset_index()
ratio_result3and4['population'] = ratio_result3and4['ZIP'].map(lambda x: dict2_2019.get(x))
ratio_result3and4['ratio'] = round(ratio_result3and4['population']/ratio_result3and4['TOTALLICENSEDCAPACITY'],1)
ratio_result3and4['Age_Group'] = '3-4'
ratio_result3and4.rename(columns={"TOTALLICENSEDCAPACITY": "capacity","PROVIDERID":"Provider_Count"},inplace=True)
ratio_result3and4.head(10)

     ZIP  capacity  Provider_Count  population  ratio Age_Group
0  80002    1245.0              13       452.0    0.4       3-4
1  80003     525.0              18      1066.0    2.0       3-4
2  80004    1236.0              27       868.0    0.7       3-4
3  80005     450.0              18       666.0    1.5       3-4
4  80007     389.0               5       330.0    0.8       3-4
5  80010    1208.0              26      1562.0    1.3       3-4
6  80011    1084.0              30      1737.0    1.6       3-4
7  80012    1186.0              25      1540.0    1.3       3-4
8  80013    1445.0              61      1949.0    1.3       3-4
9  80014    1418.0              19       712.0    0.5       3-4

In [174]:
ratio_result3and4['Bin'] = ratio_result3and4.apply(create_bins,axis=1)
ratio_result3and4.groupby('Bin').agg({'population':'sum','ZIP':'count'}).reset_index()

     Bin  population  ZIP
0  10-20       619.0    4
1   3-10      9842.0   27
2    <=3    124384.0  345

In [191]:
print(len(set(ratio_result3and4['ZIP'].to_list())))
print(len(set(ratio_result2['ZIP'].to_list())))

376
343

In [43]:
# put both ratios together
ratios = pd.concat([ratio_result2, ratio_result3and4]).reset_index(drop=True)
ratios.head(10)

     ZIP  capacity  Provider_Count  population  ratio Age_Group
0  80002    1162.0              10       682.0    0.6       0-2
1  80003     406.0              19      1610.0    4.0       0-2
2  80004    1074.0              25      1311.0    1.2       0-2
3  80005     382.0              18      1005.0    2.6       0-2
4  80007     313.0               4       497.0    1.6       0-2
5  80010     909.0              17      2195.0    2.4       0-2
6  80011     824.0              20      2442.0    3.0       0-2
7  80012    1031.0              22      2164.0    2.1       0-2
8  80013     947.0              56      2740.0    2.9       0-2
9  80014    1028.0              14      1002.0    1.0       0-2

In [44]:
# we don't have the population data 
zipcode_no_pop = set(ratios[ratios['population'].isnull()]['ZIP'].to_list())
zipcode_no_pop

{80208,
 80225,
 80265,
 80309,
 80404,
 80409,
 80614,
 80866,
 81017,
 81102,
 81402,
 81658}

In [45]:
pop = zip_pop['GEO.id2'].unique()
facility = data_201905['ZIP'].unique()
missing_zipcode = [z for z in facility if z not in pop]
missing_zipcode

[81002,
 80208,
 81402,
 81102,
 80309,
 80866,
 80404,
 80308,
 81017,
 80265,
 80409,
 81658,
 80437,
 80614,
 80225]

In [46]:
# 3 zip codes were not included in the ratios table is because there are only school-age facilities in that area

z = [z for z in missing_zipcode if z not in zipcode_no_pop]
print(f'Zip codes only have school-age facility:{z}')

data_201905.loc[data_201905['ZIP'].isin(z)]

Zip codes only have school-age facility:[81002, 80308, 80437]

,AWARDDATE,CCCAPCASECOUNT_D1,CCCAPCHILDCOUNT_D1,CCCAPFAEXPDATE_D1,CCCAPFAEXPDATE_D2,CCCAPFASTATUS_D1,CCCAPFASTATUS_D2,CCCAPTOTALAUTH_D1,CCCAPTOTALAUTH_D2,CCCAP_AMOUNT_PAID_D1,...,PROVIDERSERVICETYPE,QRISRATINGLEVEL,SCHOOLDISTRICT,STATE,STREETADDRESS,TOTALLICENSEDCAPACITY,YEAR_MONTH,ZIP,CLEANSERVICETYPE,SERVICETYPEBYAGE
222,NaN,6,9,2019-06-30,2020-01-31,1,1,9,6,760.1,...,School-Age Child Care Center,NaN,Pueblo County School District 70,CO,500 S Spaulding,45.0,20190531,81002,School-Age Care,School-Age Facility
2460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,School-Age Child Care Center,NaN,Boulder Valley School District RE-2,CO,1466 N 63rd ST,107.0,20190531,80308,School-Age Care,School-Age Facility
3215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,School-Age Child Care Center,NaN,Jefferson County School District R-1,CO,32003 Ellingwood TRL,25.0,20190531,80437,School-Age Care,School-Age Facility

In [47]:
ratio_result2.to_csv('result_data/popandcapa2_201905.csv')
ratio_result3and4.to_csv('result_data/popandcapa3_4_201905.csv')

## Data prepared for heat map - pop annual growth rate vs capa annual growth rate 
methonology: compound annual average growth rate (CAGR)

### compute pop annual growth rate from 2017 to 2019 (at zip code level)

In [48]:
columns = ['GEO.id2','County','Age_Group',2017,2018,2019]
pop_growth_zip= fcst_pop_zip[columns]
print(pop_growth_zip.shape)
pop_growth_zip.head()

(1050, 6)

   GEO.id2     County Age_Group  2017  2018  2019
0    80002  Jefferson       0-2   652   675   682
1    80003  Jefferson       0-2  1539  1593  1610
2    80004  Jefferson       0-2  1253  1297  1311
3    80005  Jefferson       0-2   961   995  1005
4    80007  Jefferson       0-2   475   492   497

In [49]:
end_year = 2019
start_year = 2017

def get_CAGR(row):
    try:
        growth_rate = (row[end_year]/row[start_year])**(1/(end_year-start_year))-1  #formula for CAGR
        return growth_rate
    except ZeroDivisionError:
        return "ZeroDivisionError"

pop_growth_zip['POP_GAGR'] = pop_growth_zip.apply(get_CAGR,axis=1)

In [50]:
pop_growth_zip.head(50)

    GEO.id2      County Age_Group  2017  2018  2019           POP_GAGR
0     80002   Jefferson       0-2   652   675   682          0.0227474
1     80003   Jefferson       0-2  1539  1593  1610          0.0228069
2     80004   Jefferson       0-2  1253  1297  1311          0.0228826
3     80005   Jefferson       0-2   961   995  1005          0.0226366
4     80007   Jefferson       0-2   475   492   497          0.0228958
5     80010    Arapahoe       0-2  2272  2238  2195         -0.0170915
6     80011    Arapahoe       0-2  2528  2490  2442         -0.0171567
7     80012    Arapahoe       0-2  2240  2207  2164         -0.0171107
8     80013    Arapahoe       0-2  2836  2794  2740          -0.017071
9     80014    Arapahoe       0-2  1037  1022  1002         -0.0170205
10    80015    Arapahoe       0-2  2435  2399  2352         -0.0171909
11    80016    Arapahoe       0-2  1957  1928  1890         -0.0172671
12    80017    Arapahoe       0-2  1872  1844  1808         -0.0172427
13    80018    Arapahoe       0-2   651   641   629         -0.0170423
14    80019       Adams       0-2   238   237   238                  0
15    80020  Broomfield       0-2  1805  1813  1773        -0.00890391
16    80021   Jefferson       0-2  1045  1082  1093          0.0227087
17    80022       Adams       0-2  2854  2839  2856        0.000350324
18    80023  Broomfield       0-2   653   656   641        -0.00923097
19    80024       Adams       0-2    14    14    14                  0
20    80025     Boulder       0-2     0     0     0  ZeroDivisionError
21    80026     Boulder       0-2   977   921   916         -0.0317211
22    80027     Boulder       0-2  1020   962   956         -0.0318807
23    80030       Adams       0-2   549   546   549                  0
24    80031       Adams       0-2  1429  1422  1430        0.000349834
25    80033   Jefferson       0-2   765   792   800            0.02262
26    80045       Adams       0-2    22    22    22                  0
27    80101      Elbert       0-2    23    29    31           0.160959
28    80102       Adams       0-2   144   143   144                  0
29    80103    Arapahoe       0-2    63    62    61          -0.016001
30    80104     Douglas       0-2  1197  1209  1217         0.00831961
31    80105    Arapahoe       0-2    35    34    34         -0.0143892
32    80106     El Paso       0-2   186   188   187         0.00268457
33    80107      Elbert       0-2   334   419   452           0.163311
34    80108     Douglas       0-2   873   882   888         0.00855448
35    80109     Douglas       0-2  1023  1033  1040         0.00827466
36    80110    Arapahoe       0-2   874   861   844         -0.0173123
37    80111    Arapahoe       0-2   960   946   927         -0.0173378
38    80112    Arapahoe       0-2  1109  1092  1071         -0.0172819
39    80113    Arapahoe       0-2   844   831   815         -0.0173303
40    80116     Douglas       0-2    83    84    84         0.00600606
41    80117      Elbert       0-2    72    90    97           0.160699
42    80118     Douglas       0-2   162   164   165         0.00921678
43    80120    Arapahoe       0-2   889   876   859         -0.0170177
44    80121    Arapahoe       0-2   567   559   548         -0.0168976
45    80122    Arapahoe       0-2   994   979   960         -0.0172514
46    80123   Jefferson       0-2  1414  1464  1479          0.0227262
47    80124     Douglas       0-2   622   628   633         0.00880369
48    80125     Douglas       0-2   331   334   337         0.00902274
49    80126     Douglas       0-2  1550  1566  1576         0.00835222

In [51]:
# "ZeroDivisionError" rows are zip codes with 0 estimated pop in 2017 and 0 forecasted pop in 2019
# thus we need to compute the growth as 0
def clean_up(row):
    if row.POP_GAGR == 'ZeroDivisionError':
        return 0
    else: 
        return row.POP_GAGR

pop_growth_zip['CLEANED_POP_GAGR'] = pop_growth_zip.apply(clean_up,axis=1)
pop_growth_zip

,GEO.id2,County,Age_Group,2017,2018,2019,POP_GAGR,CLEANED_POP_GAGR
0,80002,Jefferson,0-2,652,675,682,0.0227474,0.022747
1,80003,Jefferson,0-2,1539,1593,1610,0.0228069,0.022807
2,80004,Jefferson,0-2,1253,1297,1311,0.0228826,0.022883
3,80005,Jefferson,0-2,961,995,1005,0.0226366,0.022637
4,80007,Jefferson,0-2,475,492,497,0.0228958,0.022896
5,80010,Arapahoe,0-2,2272,2238,2195,-0.0170915,-0.017091
6,80011,Arapahoe,0-2,2528,2490,2442,-0.0171567,-0.017157
7,80012,Arapahoe,0-2,2240,2207,2164,-0.0171107,-0.017111
8,80013,Arapahoe,0-2,2836,2794,2740,-0.017071,-0.017071
9,80014,Arapahoe,0-2,1037,1022,1002,-0.0170205,-0.017020
10,80015,Arapahoe,0-2,2435,2399,2352,-0.0171909,-0.017191
11,80016,Arapahoe,0-2,1957,1928,1890,-0.0172671,-0.017267
12,80017,Arapahoe,0-2,1872,1844,1808,-0.0172427,-0.017243
13,80018,Arapahoe,0-2,651,641,629,-0.0170423,-0.017042
14,80019,Adams,0-2,238,237,238,0,0.000000
15,80020,Broomfield,0-2,1805,1813,1773,-0.00890391,-0.008904
16,80021,Jefferson,0-2,1045,1082,1093,0.0227087,0.022709
17,80022,Adams,0-2,2854,2839,2856,0.000350324,0.000350
18,80023,Broomfield,0-2,653,656,641,-0.00923097,-0.009231
19,80024,Adams,0-2,14,14,14,0,0.000000
20,80025,Boulder,0-2,0,0,0,ZeroDivisionError,0.000000
21,80026,Boulder,0-2,977,921,916,-0.0317211,-0.031721
22,80027,Boulder,0-2,1020,962,956,-0.0318807,-0.031881
23,80030,Adams,0-2,549,546,549,0,0.000000
24,80031,Adams,0-2,1429,1422,1430,0.000349834,0.000350
25,80033,Jefferson,0-2,765,792,800,0.02262,0.022620
26,80045,Adams,0-2,22,22,22,0,0.000000
27,80101,Elbert,0-2,23,29,31,0.160959,0.160959
28,80102,Adams,0-2,144,143,144,0,0.000000
29,80103,Arapahoe,0-2,63,62,61,-0.016001,-0.016001
...,...,...,...,...,...,...,...,...
1020,81615,Pitkin,3-4,0,0,0,ZeroDivisionError,0.000000
1021,81620,Eagle,3-4,384,378,382,-0.00260757,-0.002608
1022,81621,Eagle,3-4,121,119,120,-0.0041408,-0.004141
1023,81623,Garfield,3-4,444,413,434,-0.0113254,-0.011325
1024,81624,Mesa,3-4,37,36,35,-0.0274025,-0.027402
1025,81625,Moffat,3-4,298,311,317,0.0313866,0.031387
1026,81630,Mesa,3-4,32,31,31,-0.015749,-0.015749
1027,81631,Eagle,3-4,232,229,231,-0.0021575,-0.002157
1028,81632,Eagle,3-4,218,215,217,-0.00229621,-0.002296
1029,81633,Moffat,3-4,0,0,0,ZeroDivisionError,0.000000
1030,81635,Garfield,3-4,210,195,205,-0.0119765,-0.011976
1031,81637,Eagle,3-4,246,242,245,-0.00203459,-0.002035
1032,81638,Moffat,3-4,9,9,10,0.0540926,0.054093
1033,81639,Routt,3-4,49,49,52,0.0301575,0.030158
1034,81640,Moffat,3-4,0,0,0,ZeroDivisionError,0.000000
1035,81641,Rio Blanco,3-4,81,70,73,-0.0506663,-0.050666
1036,81642,Pitkin,3-4,0,0,0,ZeroDivisionError,0.000000
1037,81643,Mesa,3-4,9,9,9,0,0.000000
1038,81645,Eagle,3-4,9,9,9,0,0.000000
1039,81646,Mesa,3-4,5,5,5,0,0.000000
1040,81647,Garfield,3-4,230,214,225,-0.0109293,-0.010929
1041,81648,Rio Blanco,3-4,83,72,75,-0.0494136,-0.049414
1042,81649,Eagle,3-4,7,7,7,0,0.000000
1043,81650,Garfield,3-4,313,291,306,-0.0112453,-0.011245
1044,81652,Garfield,3-4,172,160,168,-0.0116963,-0.011696
1045,81653,Moffat,3-4,0,0,0,ZeroDivisionError,0.000000
1046,81654,Pitkin,3-4,53,48,49,-0.0384761,-0.038476
1047,81655,Eagle,3-4,11,11,11,0,0.000000
1048,81656,Pitkin,3-4,0,0,0,ZeroDivisionError,0.000000
1049,81657,Eagle,3-4,45,44,45,0,0.000000

In [ ]:
# pop_zip_reshape = (pop_zip_temp.set_index(['GEO.id2','County','Age_Group'])
#          .stack()
#          .reset_index(name='Population')
#          .rename(columns={'level_3':'Year'}))
# print(pop_zip_reshape.shape)
# pop_zip_reshape.head()
# pop_zip_reshape.to_csv('agg_child_pop_by_zip.csv')

### compute capacity annual growth rate from 2017 to 2019 (at zip code level)

In [52]:
capa_temp = combined_csv.groupby(['YEAR_MONTH','ZIP','SERVICETYPEBYAGE'])\
            .agg({'TOTALLICENSEDCAPACITY':'sum'}).reset_index()
capa_temp.head(10)

   YEAR_MONTH    ZIP     SERVICETYPEBYAGE  TOTALLICENSEDCAPACITY
0    20170131   8003           FCC/DC/CCC                   16.0
1    20170131  80002           FCC/DC/CCC                 1033.0
2    20170131  80002   Preschool Facility                   83.0
3    20170131  80002  School-Age Facility                  202.0
4    20170131  80003           FCC/DC/CCC                  358.0
5    20170131  80003   Preschool Facility                  143.0
6    20170131  80003  School-Age Facility                  440.0
7    20170131  80004           FCC/DC/CCC                 1206.0
8    20170131  80004   Preschool Facility                  172.0
9    20170131  80004  School-Age Facility                  746.0

In [53]:
capa_3years = capa_temp.loc[capa_temp['YEAR_MONTH'].isin(['20190531','20181231','20171231'])]
capa_3years.head(10)

      YEAR_MONTH    ZIP         SERVICETYPEBYAGE  TOTALLICENSEDCAPACITY
9454    20171231   8003               FCC/DC/CCC                   16.0
9455    20171231  80002               FCC/DC/CCC                  985.0
9456    20171231  80002       Preschool Facility                   83.0
9457    20171231  80002      School-Age Facility                  202.0
9458    20171231  80003               FCC/DC/CCC                  383.0
9459    20171231  80003  Infant/Toddler Facility                   36.0
9460    20171231  80003       Preschool Facility                  143.0
9461    20171231  80003      School-Age Facility                  461.0
9462    20171231  80004               FCC/DC/CCC                 1089.0
9463    20171231  80004  Infant/Toddler Facility                   18.0

In [54]:
capa_table_3and4 = capa_3years[(capa_3years['SERVICETYPEBYAGE']  == 'FCC/DC/CCC') 
                | (capa_3years['SERVICETYPEBYAGE']  == 'Preschool Facility')]

capa_table_3and4 = capa_table_3and4.groupby(['YEAR_MONTH','ZIP'])\
                    .agg({'TOTALLICENSEDCAPACITY':'sum'}).reset_index()
capa_table_3and4['Age_Group'] = '3-4'
capa_table_3and4['Year'] = capa_table_3and4['YEAR_MONTH'].map(lambda x : int(str(x)[:4]))
capa_table_3and4.head(10)

   YEAR_MONTH    ZIP  TOTALLICENSEDCAPACITY Age_Group  Year
0    20171231   8003                   16.0       3-4  2017
1    20171231  80002                 1068.0       3-4  2017
2    20171231  80003                  526.0       3-4  2017
3    20171231  80004                 1261.0       3-4  2017
4    20171231  80005                  463.0       3-4  2017
5    20171231  80007                  259.0       3-4  2017
6    20171231  80010                 1026.0       3-4  2017
7    20171231  80011                 1216.0       3-4  2017
8    20171231  80012                 1178.0       3-4  2017
9    20171231  80013                 1445.0       3-4  2017

In [55]:
# 6 zip codes has two year data, 8 zip codes has 1 year data
capa_table_3and4.groupby('ZIP').count()['YEAR_MONTH'].value_counts()

3    371
1      8
2      6
Name: YEAR_MONTH, dtype: int64

In [56]:
capa_table_2 = capa_3years[(capa_3years['SERVICETYPEBYAGE']  == 'FCC/DC/CCC') 
                | (capa_3years['SERVICETYPEBYAGE']  == 'Infant/Toddler Facility')]

capa_table_2 = capa_table_2.groupby(['YEAR_MONTH','ZIP'])\
                .agg({'TOTALLICENSEDCAPACITY':'sum'}).reset_index()
capa_table_2['Age_Group'] = '0-2'
capa_table_2['Year'] = capa_table_2['YEAR_MONTH'].map(lambda x : int(str(x)[:4]))
capa_table_2.head(10)

   YEAR_MONTH    ZIP  TOTALLICENSEDCAPACITY Age_Group  Year
0    20171231   8003                   16.0       0-2  2017
1    20171231  80002                  985.0       0-2  2017
2    20171231  80003                  419.0       0-2  2017
3    20171231  80004                 1107.0       0-2  2017
4    20171231  80005                  401.0       0-2  2017
5    20171231  80007                  183.0       0-2  2017
6    20171231  80010                  733.0       0-2  2017
7    20171231  80011                  893.0       0-2  2017
8    20171231  80012                 1023.0       0-2  2017
9    20171231  80013                  970.0       0-2  2017

In [57]:
# 10 zip codes has two year data, 11 zip codes has 1 year data
capa_table_2.groupby('ZIP').count()['YEAR_MONTH'].value_counts()

3    334
1     11
2     10
Name: YEAR_MONTH, dtype: int64

In [58]:
capa_union = pd.concat([capa_table_2, capa_table_3and4]).reset_index(drop=True)
capa_union.head()

   YEAR_MONTH    ZIP  TOTALLICENSEDCAPACITY Age_Group  Year
0    20171231   8003                   16.0       0-2  2017
1    20171231  80002                  985.0       0-2  2017
2    20171231  80003                  419.0       0-2  2017
3    20171231  80004                 1107.0       0-2  2017
4    20171231  80005                  401.0       0-2  2017

In [59]:
capa_transform = pd.pivot_table(capa_union, values='TOTALLICENSEDCAPACITY',
                                index=['ZIP','Age_Group'], columns=['Year']).reset_index()

capa_transform[2019].fillna(0, inplace=True)
capa_transform[2017].fillna(0, inplace=True)
capa_transform['CAPA_GAGR'] = capa_transform.apply(get_CAGR,axis=1)

In [60]:
#address the ZeroDivisionError
def clean_up1(row):
    if row.CAPA_GAGR == 'ZeroDivisionError':
        return "Capacity growed from 0"
    else: 
        return row.CAPA_GAGR

capa_transform['CLEANED_CAPA_GAGR'] = capa_transform.apply(clean_up1,axis=1)
capa_transform.head(10)

Year,ZIP,Age_Group,2017,2018,2019,CAPA_GAGR,CLEANED_CAPA_GAGR
0,8003,0-2,16.0,16.0,0.0,-1,-1
1,8003,3-4,16.0,16.0,0.0,-1,-1
2,8033,0-2,0.0,40.0,0.0,ZeroDivisionError,Capacity growed from 0
3,8033,3-4,0.0,40.0,0.0,ZeroDivisionError,Capacity growed from 0
4,80002,0-2,985.0,1162.0,1162.0,0.0861379,0.0861379
5,80002,3-4,1068.0,1245.0,1245.0,0.0796899,0.0796899
6,80003,0-2,419.0,413.0,406.0,-0.0156354,-0.0156354
7,80003,3-4,526.0,532.0,525.0,-0.000951023,-0.000951023
8,80004,0-2,1107.0,1074.0,1074.0,-0.0150179,-0.0150179
9,80004,3-4,1261.0,1236.0,1236.0,-0.00996239,-0.00996239

In [61]:
# This refelcts area no longer have licensed child care for 0-2 or 3-4 year old
no_error = capa_transform[capa_transform['CLEANED_CAPA_GAGR'] != 'Capacity growed from 0']
no_error[no_error['CAPA_GAGR'] <=-1]

Year    ZIP Age_Group  2017  2018  2019 CAPA_GAGR CLEANED_CAPA_GAGR
0      8003       0-2  16.0  16.0   0.0        -1                -1
1      8003       3-4  16.0  16.0   0.0        -1                -1
54    80100       0-2   6.0   NaN   0.0        -1                -1
55    80100       3-4   6.0   NaN   0.0        -1                -1
111   80135       0-2   6.0   6.0   0.0        -1                -1
117   80152       0-2   6.0   6.0   0.0        -1                -1
118   80152       3-4   6.0   6.0   0.0        -1                -1
229   80423       0-2   6.0   NaN   0.0        -1                -1
230   80423       3-4   6.0   NaN   0.0        -1                -1
291   80514       0-2   6.0   6.0   0.0        -1                -1
297   80520       0-2   6.0   NaN   0.0        -1                -1
298   80520       3-4   6.0   NaN   0.0        -1                -1
325   80544       0-2  41.0   NaN   0.0        -1                -1
326   80544       3-4  41.0   NaN   0.0        -1                -1
366   80650       0-2   6.0   NaN   0.0        -1                -1
367   80650       3-4   6.0   NaN   0.0        -1                -1
530   81036       0-2  30.0  30.0   0.0        -1                -1
641   81332       0-2  10.0   NaN   0.0        -1                -1
642   81332       3-4  10.0   NaN   0.0        -1                -1

### merge both annual growth rate

In [62]:
merged_growth = pd.merge(capa_transform[['ZIP','Age_Group','CLEANED_CAPA_GAGR']], 
                         pop_growth_zip[['GEO.id2','Age_Group','CLEANED_POP_GAGR']],
                         how='left', left_on=['ZIP','Age_Group'],
                         right_on = ['GEO.id2','Age_Group'])

merged_growth

       ZIP Age_Group       CLEANED_CAPA_GAGR  GEO.id2  CLEANED_POP_GAGR
0     8003       0-2                      -1      NaN               NaN
1     8003       3-4                      -1      NaN               NaN
2     8033       0-2  Capacity growed from 0      NaN               NaN
3     8033       3-4  Capacity growed from 0      NaN               NaN
4    80002       0-2               0.0861379  80002.0          0.022747
5    80002       3-4               0.0796899  80002.0          0.008969
6    80003       0-2              -0.0156354  80003.0          0.022807
7    80003       3-4            -0.000951023  80003.0          0.008551
8    80004       0-2              -0.0150179  80004.0          0.022883
9    80004       3-4             -0.00996239  80004.0          0.008754
10   80005       0-2              -0.0239783  80005.0          0.022637
11   80005       3-4              -0.0141388  80005.0          0.008362
12   80007       0-2                0.307816  80007.0          0.022896
13   80007       3-4                0.225533  80007.0          0.009217
14   80010       0-2                0.113602  80010.0         -0.017091
15   80010       3-4               0.0850751  80010.0          0.011727
16   80011       0-2              -0.0394104  80011.0         -0.017157
17   80011       3-4              -0.0558351  80011.0          0.011717
18   80012       0-2              0.00390245  80012.0         -0.017111
19   80012       3-4              0.00338984  80012.0          0.011897
20   80013       0-2              -0.0119268  80013.0         -0.017071
21   80013       3-4                       0  80013.0          0.011748
22   80014       0-2                0.116271  80014.0         -0.017020
23   80014       3-4               0.0803139  80014.0          0.011429
24   80015       0-2                0.013703  80015.0         -0.017191
25   80015       3-4               0.0229256  80015.0          0.011849
26   80016       0-2               0.0440553  80016.0         -0.017267
27   80016       3-4               0.0700974  80016.0          0.011727
28   80017       0-2               -0.100801  80017.0         -0.017243
29   80017       3-4               -0.098919  80017.0          0.011863
..     ...       ...                     ...      ...               ...
710  81625       0-2                0.033204  81625.0          0.019717
711  81625       3-4                0.033204  81625.0          0.031387
712  81630       3-4                       0  81630.0         -0.015749
713  81631       0-2                0.339728  81631.0         -0.054587
714  81631       3-4                0.292568  81631.0         -0.002157
715  81632       0-2             -0.00623836  81632.0         -0.054970
716  81632       3-4             -0.00623836  81632.0         -0.002296
717  81635       0-2              -0.0180195  81635.0          0.011300
718  81635       3-4              -0.0180195  81635.0         -0.011976
719  81637       0-2             -0.00407334  81637.0         -0.054249
720  81637       3-4             -0.00407334  81637.0         -0.002035
721  81639       0-2                0.373716  81639.0          0.022143
722  81639       3-4                0.407886  81639.0          0.030158
723  81641       0-2  Capacity growed from 0  81641.0         -0.032950
724  81641       3-4               0.0823255  81641.0         -0.050666
725  81645       0-2                       0  81645.0         -0.036376
726  81645       3-4                       0  81645.0          0.000000
727  81647       0-2                       0  81647.0          0.010302
728  81647       3-4                       0  81647.0         -0.010929
729  81648       0-2                       0  81648.0         -0.032045
730  81648       3-4                       0  81648.0         -0.049414
731  81650       0-2              -0.0500321  81650.0          0.010835
732  81650       3-4               -0.018165  81650.0         -0.011245
733  81652       0-2              -0.0357259  81652.0          0.011788
734  81652       3-4              -0.0307766  81652.0         -0.011696
735  81656       0-2                       0  81656.0          0.000000
736  81656       3-4                       0  81656.0          0.000000
737  81657       0-2               -0.185336  81657.0         -0.054516
738  81657       3-4               -0.185336  81657.0          0.000000
739  81658       3-4                       0      NaN               NaN

[740 rows x 5 columns]

In [63]:
merged_growth_clean = merged_growth[~merged_growth.isnull().any(axis=1)]
merged_growth_clean.shape

(709, 5)

In [64]:
def get_comparison(row):
    try:
        return (row['CLEANED_CAPA_GAGR'] - row['CLEANED_POP_GAGR'])
    except TypeError:
        return "Capacity growed from 0"

merged_growth_clean['comparison'] = merged_growth_clean.apply(get_comparison,axis=1)

In [65]:
merged_growth_clean[merged_growth_clean['comparison'] == "Capacity growed from 0"]
merged_growth_clean.head()

     ZIP Age_Group CLEANED_CAPA_GAGR  GEO.id2  CLEANED_POP_GAGR  comparison
4  80002       0-2         0.0861379  80002.0          0.022747   0.0633904
5  80002       3-4         0.0796899  80002.0          0.008969   0.0707211
6  80003       0-2        -0.0156354  80003.0          0.022807  -0.0384422
7  80003       3-4      -0.000951023  80003.0          0.008551 -0.00950225
8  80004       0-2        -0.0150179  80004.0          0.022883  -0.0379006

In [66]:
merged_growth_clean[merged_growth_clean['Age_Group'] == '0-2'].to_csv('result_data/ratio_0and2.csv')
merged_growth_clean[merged_growth_clean['Age_Group'] == '3-4'].to_csv('result_data/ratio_3and4.csv')

In [160]:
growth02 = merged_growth_clean[(merged_growth_clean['Age_Group'] == '0-2')\
                    & (merged_growth_clean['comparison'] != 'Capacity growed from 0')]
growth34 = merged_growth_clean[(merged_growth_clean['Age_Group'] == '3-4')\
                    & (merged_growth_clean['comparison'] != 'Capacity growed from 0')]
growth02['RANGE'] = growth02['comparison'].map(lambda x: '>=0' if x>=0 else '<0')
growth34['RANGE'] = growth34['comparison'].map(lambda x: '>=0' if x>=0 else '<0')

In [196]:
growth02.groupby('RANGE').agg({'ZIP':'count'}).reset_index()

  RANGE  ZIP
0    <0  170
1   >=0  163

In [197]:
growth34.groupby('RANGE').agg({'ZIP':'count'}).reset_index()

  RANGE  ZIP
0    <0  198
1   >=0  167

### For mapping each facility's location

In [67]:
data_201905.head(50)

,AWARDDATE,CCCAPCASECOUNT_D1,CCCAPCHILDCOUNT_D1,CCCAPFAEXPDATE_D1,CCCAPFAEXPDATE_D2,CCCAPFASTATUS_D1,CCCAPFASTATUS_D2,CCCAPTOTALAUTH_D1,CCCAPTOTALAUTH_D2,CCCAP_AMOUNT_PAID_D1,...,PROVIDERSERVICETYPE,QRISRATINGLEVEL,SCHOOLDISTRICT,STATE,STREETADDRESS,TOTALLICENSEDCAPACITY,YEAR_MONTH,ZIP,CLEANSERVICETYPE,SERVICETYPEBYAGE
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Experienced Family Child Care Home,Level 1,Northglenn-Thornton School District 12,CO,6635 E Monaco DR,9.0,20190531,80602,Family Child Care,FCC/DC/CCC
1,2017-09-07,3,3,2019-06-30,2019-06-14,1,1,3,3,239.2,...,Family Child Care Home,Level 2,Northglenn-Thornton School District 12,CO,4388 118 Ave.,6.0,20190531,80233,Family Child Care,FCC/DC/CCC
2,NaN,3,5,2019-06-30,2020-05-31,1,1,5,5,974.61,...,School-Age Child Care Center,NaN,Douglas County School District RE-1,CO,17302 Clarke Farms DR,100.0,20190531,80134,School-Age Care,School-Age Facility
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Preschool Program,Level 1,Colorado Springs School District 11,CO,1023 N 31st ST,16.0,20190531,80904,Preschool Program,Preschool Facility
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Infant/Toddler Home,Level 1,Jefferson County School District R-1,CO,5989 W Fair DR,4.0,20190531,80123,Infant/Toddler Home,Infant/Toddler Facility
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Family Child Care Home,Level 1,Cherry Creek School District 5,CO,19895 E Belleview,6.0,20190531,80015,Family Child Care,FCC/DC/CCC
6,NaN,NaN,NaN,2019-06-30,NaN,1,0,0,0,NaN,...,Family Child Care Home,Level 1,Rocky Ford School District R-2,CO,20331 Hwy 266,6.0,20190531,81067,Family Child Care,FCC/DC/CCC
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Large Family Child Care Home,Level 1,St. Vrain Valley School District RE 1J,CO,88 Baylor DR,12.0,20190531,80503,Family Child Care,FCC/DC/CCC
8,2018-02-28,1,1,NaN,2019-12-31,0,1,1,1,422,...,Large Family Child Care Home,Level 5,St. Vrain Valley School District RE 1J,CO,1401 3rd AVE,12.0,20190531,80501,Family Child Care,FCC/DC/CCC
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Family Child Care Home,Level 1,Adams-Arapahoe School District 28J,CO,1671 S Salida WAY,6.0,20190531,80017,Family Child Care,FCC/DC/CCC
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Experienced Family Child Care Home,Level 1,Platte Canyon School District 1,CO,252 Aspen LN,9.0,20190531,80470,Family Child Care,FCC/DC/CCC
11,2016-11-29,2,2,2019-06-30,2019-05-31,1,1,2,6,191.95,...,Large Family Child Care Home,Level 2,Denver County School District 1,CO,3125 Clayton ST,12.0,20190531,80205,Family Child Care,FCC/DC/CCC
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Three under Two Family Child Care Home,Level 1,Poudre School District R-1,CO,713 Parkview DR,6.0,20190531,80525,Infant/Toddler Home,Infant/Toddler Facility
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Family Child Care Home,Level 1,Douglas County School District RE-1,CO,13280 Mercury DR,6.0,20190531,80124,Family Child Care,FCC/DC/CCC
14,2017-02-28,11,26,2019-06-30,2020-02-29,1,1,26,22,7743.78,...,Large Family Child Care Home,Level 4,Thompson School District R-2J,CO,119 E 23rd ST,8.0,20190531,80538,Family Child Care,FCC/DC/CCC
15,2019-04-01,4,4,2019-06-30,2019-11-30,1,1,4,4,2358.88,...,Family Child Care Home,Level 2,Greeley School District 6,CO,2517 9th Ave CT,6.0,20190531,80631,Family Child Care,FCC/DC/CCC
16,2018-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Experienced Family Child Care Home,Level 2,Douglas County School District RE-1,CO,12700 E Espera WAY,8.0,20190531,80134,Family Child Care,FCC/DC/CCC
17,NaN,4,5,2019-06-30,2019-11-30,1,1,6,8,104.04,...,School-Age Child Care Center,NaN,Cherry Creek School District 5,CO,5400 S Waco ST,150.0,20190531,80015,School-Age Care,School-Age Facility
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Three under Two Family Child Care Home,Level 1,Douglas County School District RE-1,CO,4879 N Foxtail DR,6.0,20190531,80109,Infant/Toddler Home,Infant/Toddler Facility
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Experienced Family Child Care Home,Level 1,Johnstown-Milliken School District RE-5J,CO,1104 Sandra DR,9.0,20190531,80534,Family Child Care,FCC/DC/CCC
20,NaN,1,1,2019-06-30,2019-09-30,1,1,1,1,0,...,School-Age Child Care Center,NaN,Jefferson County School District R-1,CO,1470 10th ST,170.0,20190531,80401,School-Age Care,School-Age Facility
21,2019-01-24,NaN,NaN,2019-06-30,NaN,1,0,0,0,NaN,...,Preschool Program,Level 2,Meeker School District RE1,CO,201 Ute RD,35.0,20190531,81641,Preschool Program,Preschool Facility
22,NaN,6,9,2019-06-30,2020-02-29,1,1,9,8,863.42,...,School-Age Child Care Center,NaN,Cherry Creek School District 5,CO,4050 S Genoa WAY,100.0,20190531,80013,School-Age Care,School-Age Facility
23,2018-01-15,NaN,NaN,2019-06-30,NaN,1,0,0,0,NaN,...,Experienced Family Child Care Home,Level 3,Poudre School District R-1,CO,4300 Mill Creek CT,9.0,20190531,80526,Family Child Care,FCC/DC/CCC
24,2019-04-01,1,1,2019-06-30,2020-03-31,1,1,1,1,485.3,...,Family Child Care Home,Level 2,Greeley School District 6,CO,4811 West 1st Street,6.0,20190531,80634,Family Child Care,FCC/DC/CCC
25,NaN,7,11,2019-06-30,2020-02-29,1,1,11,24,1455.37,...,School-Age Child Care Center,NaN,Cherry Creek School District 5,CO,17901 E Grand AVE,90.0,20190531,80015,School-Age Care,School-Age Facility
26,NaN,NaN,NaN,2019-06-30,NaN,1,0,0,0,NaN,...,School-Age Child Care Center,NaN,Cherry Creek School District 5,CO,16501 E Progress DR,150.0,20190531,80015,School-Age Care,School-Age Facility
27,2017-05-31,NaN,NaN,2019-06-30,NaN,1,0,0,0,NaN,...,Child Care Center,Level 2,Garfield County School District 16,CO,100 E 2nd ST,90.0,20190531,81635,Child Care Center,FCC/DC/CCC
28,NaN,NaN,NaN,NaN,2021-01-31,NaN,1,NaN,1,NaN,...,Family Child Care Home,Level 1,Keenesburg School District RE-3J,CO,304 Elm ST,6.0,20190531,80603,Family Child Care,FCC/DC/CCC
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Family Child Care Home,Level 1,Colorado Springs School District 11,CO,2475 Maroon Bells AVE,6.0,20190531,80918,Family Child Care,FCC/DC/CCC
30,2017-02-28,2,4,2019-06-30,2020-02-29,1,1,4,2,829,...,Family Child Care Home,Level 2,Garfield School District RE-2,CO,555 Birch CT,6.0,20190531,81650,Family Child Care,FCC/DC/CCC
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Experienced Family Child Care Home,Level 1,Valley School District RE-1,CO,306 Jefferson Street,9.0,20190531,80751,Family Child Care,FCC/DC/CCC
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Experienced Family Child Care Home,Level 1,Northglenn-Thornton School District 12,CO,10012 Clay ST,9.0,20190531,80260,Family Child Care,FCC/DC/CCC
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,School-Age Child Care Center,NaN,Aspen School District 1,CO,120 Carriage WAY,210.0,20190531,81615,School-Age Care,School-Age Facility
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Experienced Family Child Care Home,Level 1,Windsor School District RE-4,CO,1204 Crest CT,9.0,20190531,80550,Family Child Care,FCC/DC/CCC
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,School-Age Child Care Center,NaN,Brighton School District 27J,CO,305 S 5th Avenue,125.0,20190531,80601,School-Age Care,School-Age Facility
36,NaN,6,7,2019-06-30,2019-10-31,1,1,8,7,795.81,...,School-Age Child Care Center,NaN,Cherry Creek School District 5,CO,3855 S Alicia PKWY,150.0,20190531,80013,School-Age Care,School-Age Facility
37,NaN,NaN,NaN,2019-06-30,NaN,1,0,0,0,NaN,...,Experienced Family Child Care Home,Level 1,Hayden School District RE-1,CO,650 W Jefferson,9.0,20190531,81639,Family Child Care,FCC/DC/CCC
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Experienced Family Child Care Home,Level 1,Roaring Fork School District RE-1,CO,1021 Park West DR,9.0,20190531,81601,Family Child Care,FCC/DC/CCC
39,2017-03-13,NaN,NaN,2019-06-30,NaN,1,0,0,0,NaN,...,Family Child Care Home,Level 2,Falcon School District 49,CO,2760 Warrenton WAY,6.0,20190531,80922,Family Child Care,FCC/DC/CCC
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Child Care Center,Level 1,Cherry Creek School District 5,CO,18585 E Smoky Hill,164.0,20190531,80015,Child Care Center,FCC/DC/CCC
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Large Family Child Care Home,Level 1,Widefield School District 3,CO,4925 Wainwright DR,12.0,20190531,80911,Family Child Care,FCC/DC/CCC
42,2017-12-31,NaN,NaN,2019-06-30,NaN,1,0,0,0,NaN,...,Family Child Care Home,Level 4,Littleton School District 6,CO,7295 S Houstoun Waring CIR,6.0,20190531,80120,Family Child Care,FCC/DC/CCC
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Family Child Care Home,Level 1,Adams-Arapahoe School District 28J,CO,11526 E Ellsworth PL,6.0,20190531,80010,Family Child Care,FCC/DC/CCC
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Three under Two Family Child Care Home,Level 1,Denver County School District 1,CO,1165 Glencoe,6.0,20190531,80220,Infant/Toddler Home,Infant/Toddler Facility
45,2014-10-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Child Care Center,Level 4,Falcon School District 49,CO,5815 Tutt Center PT,211.0,20190531,80922,Child Care Center,FCC/DC/CCC
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,School-Age Child Care Center,NaN,Jefferson County School District R-1,CO,16831 W Alameda PKWY,24.0,20190531,80465,School-Age Care,School-Age Facility
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Large Family Child Care Home,Level 1,Jefferson County School District R-1,CO,8590 W 84th CIR,12.0,20190531,80005,Family Child Care,FCC/DC/CCC
48,2018-06-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Experienced Family Child Care Home,Level 2,Jefferson County School District R-1,CO,10387 W Bellewood PL,9.0,20190531,80127,Family Child Care,FCC/DC/CCC
49,2018-08-31,NaN,NaN,2019-06-30,NaN,1,0,0,0,NaN,...,Experienced Family Child Care Home,Level 3,Thompson School District R-2J,CO,331 Sun Mountain DR,9.0,20190531,80538,Family Child Care,FCC/DC/CCC

In [ ]:
df_to_save = data_201905[['PROVIDERID','ZIP','SERVICETYPEBYAGE','POINT_X', 'POINT_Y']]
def create_coordinates(row):
    return [row.POINT_Y,row.POINT_X]
df_to_save['COORDINATES'] = df_to_save.apply(create_coordinates,axis=1)
df_to_save[['PROVIDERID','ZIP','SERVICETYPEBYAGE','COORDINATES']].to_csv('result_data/facility_location_201905.csv')